@charset "UTF-8";

* { margin: 0; padding: 0; outline: 0; border: 0; }

body, html { height: 100%; width:100%; }

.hide {
	display:none;
}

.error {
	color:red;	
}

.warning {
	text-align:center;
	font-family:Arial, Verdana, sans-serif;
	font-size:16pt;
	font-weight:bold;
	min-height:500px;
	padding: 100px 0px;
}

#content-wrapper p.warning {
	min-heigth:50px;	
}

#wrapper {
	width:960px;
	height:100%;
	margin:auto;
}

#header {
	width:auto;
	height:50px;
	border-bottom:solid thin black;
}

											/* BEGIN NAVIGATION BAR */

nav#main-nav ul{
	list-style:none;
	margin-left:7px;
	padding-top:27px;
}

nav#main-nav li {
	display:inline;
	font-family:Arial, Verdana, sans-serif;
	font-size:10pt;
	font-weight:bold;
}

nav#main-nav li a {
	text-decoration:none;
	color: #111;
	float: left;
	margin-right:30px;
}

nav#main-nav li a.linkuser {
	margin-right:5px;
}

nav#main-nav li a:hover {
	color:#3399ff;
}

												/* END NAVIGATION BAR */
	
												/* BEGIN SEARCH FORM */

#header #searchform {
	position:relative;
	bottom:12px;
}

#header #s {
	float:right;
	transition-duration:400ms;
	transition-property:width,background;
	transition-timing-function:ease;
	-webkit-transition-duration:400ms;
	-webkit-transition-property:width, background;
	-webkit-transition-timing-function:ease;
	-moz-transition-duration:400ms;
	-moz-transition-property:width, background;
	-moz-transition-timing-function:ease;
	width:72px;
	color:#999;
}

#header #s:focus {
	background-color: #f2f2f2;
	width: 196px;
	color:#3399ff;
}

input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
	color:#3399ff;
}

input#searchsubmit {
	display: none;
}

#searchform .assistive-text {
	display:none;
}

													/* END SEARCH FORM */

													/* BEGIN CONTENT */
#content-wrapper {
	width:100%;
	margin-top:40px;
	margin-bottom:50px;
	min-height:650px;
}

.news {
	font-family:Arial, Verdana, sans-serif;
	margin: 0px 60px 30px 60px;
	background-color:#f2f2f2;
	height:150px;
	width:840px;
	padding: 20px 0px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #DDD;
}

.smallnews {
	font-family:Arial, Verdana, sans-serif;
	margin: 0px 60px 30px 60px;
	background-color:#f2f2f2;
	width:840px;
	min-height:40px;
	padding: 10px 20px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #DDD;
}

#searchResults h4 {
	background-color:#666;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12pt;
	padding:4px 10px;
	margin-bottom:20px;
}

.news:hover, .smallnews:hover {
	border:1px solid #3399ff;	
}

.news h3 a, .smallnews h3 a{
	font-weight: bold;
	font-size: 13pt;
	color: #586273;
	text-decoration:none;
}

.news h3 a:hover, .smallnews h3 a:hover {
	color:#3399ff;
}

.news img {
	float:left;
	height:150px;
	width:150px;
	margin-left:20px;
	margin-right:20px;
}

div.smallnews ul li span.cursor_pointer {
	color: #586273;
	text-decoration: none;
	font-size: 10pt;
}

div.smallnews ul li span.cursor_pointer:hover {
	color:#3399ff;
}

div.addIcon, div.deleteIcon, div.refreshIcon, div.seemoreIcon, div.commentsIcon {
	width:16px;
	height:16px;
	display:inline-block;
	margin-right:5px;
}

div.commentsIcon {
	background-image: url(images/comments.png);
}

div.seemoreIcon {
	background-image: url(images/seemore.png);
}

div.addIcon{
	background-image: url(images/import.png);
}

div.deleteIcon {
	background-image: url(images/remove.png);
}

div.refreshIcon {
	background-image: url(images/refresh.png);
}

span.cursor_pointer{
	cursor:pointer;
}

.news p {
	line-height: 140%;
	font-size:10pt;
	text-align:justify;
}

.news p.intro {
	margin-top:10px;
	margin-right:20px;
	height:98px;
}

.news p.intro a {
	text-decoration:none;
	color:#3399ff;
}

.smallnews ul {
	font-family:Arial, Verdana, sans-serif;
	font-weight:bold;
	font-size:8pt;
	margin-top:2px;
	float:right;
}

.news ul {
	float:right;
	margin-top:5px;
	margin-right:20px;
	padding-top: 2px;
	font-family:Arial, Verdana, sans-serif;
	font-weight:bold;
	font-size:8pt;
}

.news li, .smallnews li {
	display: inline-block;
	height: 20px;
	padding: 0px 5px;
	text-align: center;
	letter-spacing: 1px;
}

.news li a, .smallnews li a {
	color: #586273;
	text-decoration: none;
	font-size: 10pt;
}

.news li a:hover, .smallnews li a:hover {
	color:#3399ff;
}

span.posted-by {
	float:left;
	margin-top:6px;
	color: #586273;
	font-size: 8pt;
}

span.date {
	margin-left:15px;
	color: #586273;
	font-size: 8pt;
}

span.posted-by a {
	text-decoration:none;
	color: #586273;
}

span.posted-by a:hover {
	color: #3399ff;
	cursor:pointer;
}

a#showMore {
	text-decoration:none;
	display:inline-block;
	width:150px;
	background-color:#666;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11pt;
	text-align:center;
	padding:4px 10px;
	margin-left:395px;
}

a#showMore:hover {
	background-color:#5599ff;
	cursor:pointer;	
}

a#showMore:focus {
	background-color:#5599ff;
}

a#showMore:active {
	background-color:#7799ff;
}

.fullNews {
	width:800px;
	min-height:400px;
	font-family:Arial, Verdana, sans-serif;
	background-color:#f2f2f2;
	margin: 0px 60px 15px 60px;
	padding: 10px 20px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #DDD;
}

.fullNews h3 {
	font-weight: bold;
	font-size: 18pt;
	color: #586273;
	margin-bottom:20px;
	margin-top:10px;
}

.fullNews img {
	float:left;
	margin:10px 15px 10px 0px;
	max-width:300px;
	max-height:300px;
	border:1px solid #999;
}

.fullNews img.remove {
	border:none;
	float:right;
	margin:0px 0px;
}

.fullNews img.editN {
	border:none;
	float:right;
	margin:0px 0px;
	margin-right:5px;
}

.fullNews img:hover {
	cursor:pointer;
}

.fullNews p {
	line-height: 140%;
	font-size:10pt;
	text-align:justify;
}

.fullNews p.intro {
	margin-bottom:20px;
}

.fullNews span.posted-by {
	display:block;
	margin-top:15px;
}

.fullNews span.date {
	display:inline-block;
	margin-top:15px;
}

#editNews {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:800px;
	min-height:400px;
	margin: 0px 0px 20px 60px;
	padding:10px 20px;
}

#editNews input, #editNews textarea {
	border:1px solid #cecece;
	display:block;
	margin-bottom:20px;
}

#editNews input {
	width:400px;
	height:25px;
	padding:0px 10px 0px 10px;	
}

#editNews textarea {
	width:800px;
	max-width:780px;
	padding:5px 10px;
}

#editNews input:focus, #editNews textarea:focus {
	border:1px solid #59f;
}

#editNews textarea.error, #editNews input.error {
	background: #f8dbdb;  
    border-color: #e77776; 
}

#editNews input[type="button"] {
	width:100px;
	height:25px;
	font-weight:bold;
	font-size:9pt;
	background-color:#666;
	color:white;
	border:1px solid #666;
}

#editNews input[type="button"]:hover {
	background-color:#3399ff;
	border:1px solid #3399ff;
	cursor:pointer;
	color:white;
}

#favorite {
	height:16px;
	width:16px;
	display:inline-block;
	margin-left:10px;
	margin-top:5px;
}

#favorite:hover {
	cursor:pointer;
}

#favorite.off {
	background: url(images/favoriteOff.png);	
}

#favorite.on {
	background:url(images/favoriteOn.png);	
}

#tags {
	width:840px;
	margin-left:60px;
	margin-bottom:15px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#666;
}

#tags span.tag, #settingsTags span.tag {
	display:inline-block;
	border:1px solid #cecece;
	padding:0px 5px;
	margin-right:5px;
	margin-top:3px;
}

#tags span.tag img, #settingsTags span.tag img {
	width:8px;
	height:8px;
	margin-left:5px;
}

#tags span.tag img:hover, #settingsTags span.tag img:hover {
	cursor:pointer;
}

#tagReader {
	display:block;
	padding:0px 5px;
	text-align:center;
	margin-top:10px;
	border:1px solid #cecece;
}

#tags p {
	display:inline-block;
	margin-left:5px;
	margin-top:5px;
}

#login {
	width:800px;
	height:25px;
	margin-left:275px;
	margin-top:5px;
}

#login div {
	display:inline;
}

#login label {
	display:none;
}

#login input {
	height:19px;
	margin-top:2px;
	border:1px solid #DDD;
	margin-left:10px;
	padding: 0px 10px;
	font-weight:bold;
	color:#999;
	width:100px;
}

#login input:focus {
	color:#111;
	border:1px solid #3399ff;	
}

#login input[name="login_username"] {
	margin-left:30px;
}

#login input[type="button"] {
	margin-left:20px;
	background-color:#666;
	border:none;
	padding:0px 0px;
	color:white;
	width: 70px;
}

#login input:hover {
	cursor:pointer;
	border:1px solid #3399ff;	
}

#login input[type="button"]:hover {
	background-color:#3399ff;
}

#login input[type="button"]:focus {
	background-color:#3399ff;
}

#signinInfo {
	font-family:Arial, Verdana, sans-serif;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
}

#createAccountInfo {
	font-family:Arial, Verdana, sans-serif;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
}

#newsSearchForm {
	width: 400px;
	margin-left:280px;
}

#newsSearchForm p {
	font-family:Arial, Verdana, sans-serif;
	font-size:9pt;
	font-weight:bold;
	text-align:center;
	margin-bottom: 15px;
}

#newsSearchForm input {
	height:25px;
	width:250px;
	margin-left:75px;
	margin-bottom:10px;
	text-align:center;
	border:1px solid #DDD;
	color:#999;
}

#newsSearchForm input:focus {
	color:#111;
	border:1px solid #3399ff;	
}

#newsSearchForm input:hover {
	cursor:pointer;
	color:#111;
	border:1px solid #3399ff;	
}

#newsSearchForm input[type="button"] {
	background-color:#666;
	border:none;
	color:white;
}

#newsSearchForm input[type="button"]:hover {
	background-color:#3399ff;
}

#newsSearchForm input[type="button"]:focus {
	background-color:#3399ff;
}

#comments {
	width:840px;
	margin-left:60px;
}

#comments p {
	font-family:Arial, Verdana, sans-serif;
	font-size:8pt;
	color:#666;
	margin-bottom:15px;
	font-weight:bold;
}

.comment {
	width:760px;
	margin-left:20px;
	padding:10px 20px;
	font-family:Arial, Verdana, sans-serif;
	background-color:#f2f2f2;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #DDD;
	margin-bottom:20px;
}

.comment h3, .comment h3 a {
	color: #586273;
	font-size:10pt;
	font-weight:bold;
	text-decoration:none;
}

.comment h3 a:hover {
	color:#5599ff;	
}

.comment h5 {
	margin-bottom:10px;
	font-size:7pt;
	color: #586273;
}

#comments p.commentText {
	color:#111;
	margin-left:10px;
}

.comment textarea.editComment {
	width:680px;
	max-width:680px;
	margin-left:10px;
	padding:5px 10px;
	border:1px solid #cecece;
}

.comment textarea.error {
	background: #f8dbdb;  
    border-color: #e77776; 
}

.comment img {
	float:right;
	margin-left:10px;	
}

.comment img:hover {
	cursor:pointer;	
}

#newAccountForm {
	width:700px;
	margin-left:130px;
	margin-top:120px;
}

#newAccountForm label {
	display:block;
	color:#797979;
	font-family:Arial, Verdana, sans-serif;
	line-height:1.4em;
	font-size:11pt;
	font-weight:bold;
}

#newAccountForm input{  
    width: 220px;  
    padding: 6px;  
    color: #949494;  
    font-family: Arial,  Verdana, Helvetica, sans-serif;  
    font-size: 11px;  
    border: 1px solid #cecece;  
} 

#newAccountForm input:focus{  
    border: 1px solid #3399ff;  
}  

#newAccountForm input.error{  
    background: #f8dbdb;  
    border-color: #e77776;  
} 

#newAccountForm div{  
    margin-bottom: 15px;  
}  

#newAccountForm div span{  
    margin-left: 10px;  
    color: #b1b1b1;  
    font-size: 9pt;  
    font-style: italic;  
} 

#newAccountForm div span.error{  
    color: #e46c6e;  
}  
#newAccountForm #send{  
  	background-color:#666; 
    color: #fff;  
    font-weight: 700;  
    font-style: normal;  
    cursor: pointer; 
	margin-up:10px; 
	border:1px solid #666;
}  
#newAccountForm #send:hover{  
    background: #3399ff;
	border:1px solid #3399ff;
}  

#error{  
    margin-bottom: 20px;  
    border: 1px solid #efefef;  
} 

#newCommentForm {
	width:840px;
	margin-left:60px;
	font-family:Arial, Verdana, sans-serif;
}

#newCommentForm * {
	display:block;
	margin-left:20px;
}

#newCommentForm label {
	font-size:8pt;
	color:#666;
	margin-bottom:5px;
	font-weight:bold;
}

#newCommentForm textarea {
	border:1px solid #cecece;
	width:780px;
	max-width:780px;
	padding:5px 10px;
}

#newCommentForm textarea.error {
	background: #f8dbdb;  
    border-color: #e77776; 
}

#newCommentForm input[type="button"] {
	background-color:#666; 
    color: #fff;  
    font-weight:bold;  
    cursor: pointer;
	font-size:10pt;
	width:100px;
	height:25px;
	margin-top:20px;
	margin-left:720px;
}

#newCommentForm input[type="button"]:hover, #newCommentForm input[type="button"]:focus {
	background-color: #6699ff;
	border:1px solid #6699ff;
}


#newCommentForm input[type="button"]:active{  
    background: #3399ff;
	border:1px solid #3399ff;
}

.userProfile {
	font-family:Arial, Verdana, sans-serif;
	color:#666;
	font-weight:bold;
}

.userProfile span.info {
	color:black;
	font-size:12pt;
}

.userProfile div {
	padding-left: 60px;
	margin-bottom:10px;
}

.userProfile h3 {
	display:inline-block;
	margin-left:10px;
	font-size:11pt;
}

#userNews h4 {
	font-size:8pt;
	margin-top:40px;
	margin-bottom:20px;
}

#userNews ul {
	list-style:none;
	margin-left:20px;
}

#userNews span.newsDate {
	font-size:8pt;
}

#userNews ul li {
	margin-bottom:10px;	
}

#userNews ul li a {
	text-decoration:none;
	color:#666;
	font-size:9pt;
}

#userNews ul li a:hover {
	color:#5599ff;
}

#emailEditor *, #nameEditor * {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10pt;
}

#inputNameEditor, #inputEmailEditor {
	margin-left:20px;
	height:25px;
	border:1px solid #cecece;
	color:#5599ff;	
	padding: 0px 5px;
	width:200px;
}

#infoEmailEditor.error, #infoNameEditor.error {
	margin-left:10px;	
}

.userProfile input[type="button"] {
	height:25px;
	width: 150px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10pt;
	background-color:#666;
	color:white;
	margin-left:20px;
	float:right;
}

.userProfile input[type="button"]:hover {
	cursor:pointer;
	background-color:#59f; 
}

.userProfile input[type="button"]:active  {
	color:white;
	background-color:#79f; 
}

#servers {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:840px;
	margin-left:60px;
}

#servers p.servers {
	font-size:12pt;
	color:#666;
	margin-bottom:20px;
}

#servers div.server {
	margin-left:30px;
	font-size:11pt;
	margin-bottom:10px;
}

div.server span.serverName {
	display:inline-block;
	color:#666;
	padding:4px 10px;
	border:1px solid #cecece;
}

div.server img {
	position:relative;
	top:2px;
	margin-left:4px;
}

div.server img:hover {
	cursor:pointer;
}

#settingsTags {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:840px;
	margin-left:60px;
	border-top:1px solid #cecece;
	margin-top:30px;
	padding-top:35px;
	font-size:8pt;
}

#settingsTags p.tags {
	font-size:12pt;
	color:#666;
	margin-bottom:20px;
}

#addServerForm {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:840px;
	margin-left:60px;
	margin-top:40px;
}

#addServerForm label {
	display:block;
	color:#797979;
	line-height:1.4em;
	font-size:10pt;
}

#addServerForm input[type="text"] {
	color:#949494;
	width:400px;
	height:25px;
	border:1px solid #cecece;
	padding:0px 5px;
}

#addServerForm input[type="text"]:focus {
	border:1px solid #5599ff;	
}

#addServerForm input[type="text"].error {
	background-color:#F8dbdb;
	border:1px solid #e77776;	
}

#servernameInfo {
	font-size:8pt;
	color:#797979;
	margin-left:10px;
}

#servernameInfo.error {
	color: #e46c6e;
}

#addServerForm input[type="button"] {
	width:100px;
	height:25px;
	color:white;
	background-color:#666;
	margin-top:10px;
}

#addServerForm input[type="button"]:hover {
	background-color:#5599ff;
	cursor:pointer;
}

#addServerForm input[type="button"]:focus {
	background-color:#5599ff;
}

#addServerForm input[type="button"]:active {
	background-color:#7799ff;
}

#serverPick {
	margin-bottom:30px;
	width:800px;
	padding:0px 20px;
	padding-bottom:30px;
	margin-left:60px;
	border-bottom:1px solid #cecece;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666;
}

#serverPick p {
	font-size:11pt;
	margin-bottom:10px;
}

#serverPick div {
	margin-left:20px;
	font-size:10pt;
	margin-bottom:5px;	
}

#serverPick div span {
	margin-left:10px;
}

p.serverWarning {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:black;
	font-size:11pt;
	padding-left:30px;
	margin-bottom:30px;
}

								/* END CONTENT */

#footer {
	height:20px;
}


														/* ADDNEWS.HTML */
	


#addNews {
	margin: 40px 60px;
	padding: 20px 0px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	width: 840px;
}

#addNews * {
	margin-left: 40px;
}

#addNews div {
	margin-bottom:20px;
}

#addNews label {
	color: #586273;
	font-family:Arial, Verdana, sans-serif;
	font-size:12pt;
	font-weight:bold;
}

#addNews textarea {
	width:670px;
	max-width:670px;
	padding:5px 5px;
}

#addNews input, #addNews textarea {
	font-family:Arial, Verdana, sans-serif;
	font-size:9pt;
	border:1px solid #d2d2d2;
	display:block;
	margin-top:10px;
}

#addNews input[type="button"] {
	width:150px;
	font-weight:bold;
	background-color:#666;
	letter-spacing:1px;
	color:white;
}

#addNews input[type="button"]:hover {
	background-color:#3399ff;
	border:1px solid #3399ff;
	cursor:pointer;
	color:white;
}

#addNews input:focus, #addNews textarea:focus {
	border:1px solid #09F;
}

#addNews input {
	width:300px;
	text-align:center;
	height:25px;
	padding:0px 5px;
}

#addNews input.error, #addNews textarea.error {  
    background: #f8dbdb;  
    border-color: #e77776;  
} 

/* ABOUT */

#about * {
	font-family:Arial, Verdana, sans-serif;
	font-weight:bold;
	max-width:840px;
	padding:0px 20px;
	margin-left:40px;
	color:#797979;
	text-align:justify;
}

#about a {
	margin:0;
	padding:0;
	text-decoration:none;
	color:#3399ff;
}

#about a:hover {
	text-decoration:underline;	
}

#about h3 {
	font-size:12pt;	
}

#about p {
	margin-top:50px;
	margin-bottom:20px;	
}

#about ul li {
	margin-bottom:15px;	
}

#about ul li li {
	margin-top:5px;	
}


